# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Virtual environment
venv/
.venv/
env/
.env*

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing
.pytest_cache/
.coverage

# IDE
.idea/
.vscode/ 